<div class="container">
     <div class="col-md-12 changeForm">
          <h2>Alterar dados do produto</h2>
          <form [formGroup]="changeForm" (submit)="updateProduct()">
               <div class="form-group">
                    <label for="changeEmpresa">Nome da Empresa</label>
                    <input 
                         formControlName="nomeEmpresa"
                         type="text" 
                         class="form-control" 
                         id="changeEmpresa"
                    >
               </div>
               <div class="form-group">
                    <label for="changeProduto">Nome do Produto</label>
                    <input 
                         formControlName="produto"
                         type="text" 
                         class="form-control" 
                         id="changeProduto"
                    >
               </div>
               <div class="form-group">
                    <label for="changeLocalColeta">Local de Coleta</label>
                    <input
                         formControlName="localColeta" 
                         class="form-control"
                         type="text"
                         id="changeLocalColeta">
               </div>
               <div class="form-group">
                    <label for="changeValidadeProduto">Validade do produto</label>
                    <input
                         formControlName="validadeProduto"
                         class="form-control"
                         id="changeValidadeProduto"
                         type="date"
                         
                         >
               </div>
               <div class="row">
                    <div class="col-md-2">
                         <button 
                              type="submit"
                              class="btn btn-success btn-block">
                              Confirmar
                         </button>
                    </div>
                    <div class="col-md-2">
                         <a   
                              [routerLink]="['/']"  
                              type="submit"
                              class="btn btn-danger btn-block">
                              Cancelar
                         </a>
                    </div>
               </div>
     
          </form>
     </div>
        
</div>